<div class="main-header">
  <h6>Meow,eMart</h6>
  <span class="header-menu">
    <a routerLink="/purchase-history" routerLinkActive="active">history</a>&nbsp;
    <a routerLink="/login" routerLinkActive="active">signIn</a>&nbsp;
    <a routerLink="/signup" routerLinkActive="active">sginUp</a>&nbsp;
    <a routerLink="/shopping-cart" routerLinkActive="active"><img src="../assets/images/cart1.jpg" alt=""></a>&nbsp;
    <a routerLink="/login" routerLinkActive="active">logOut</a>&nbsp;
</span>
</div>
<!--<div class="input-group">-->
<!--    <input type="text" class="form-control" placeholder="Search for any item/Product">-->
<!--  <span class="input-group-btn">-->
<!--        <button class="btn btn-default" type="button" (click)="searchResult()">Search</button>-->
<!--  </span>-->
<!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->



