<div class="main-header">
  <span class="header-menu">
    <a routerLink="/login" routerLinkActive="active">logOut</a>&nbsp;
</span>
</div>
<h4>{{tile}}</h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="{{itemDetail.photo}}" width="300" height="300">
      <br>
    </div>
    <div class="col-md-6">
      <table class="table">

        <tr>
          <td>ItemInfo</td>
          <td>{{itemDetail.item_name}}</td>
        </tr>
        <tr>
          <td>Category</td>
          <td>{{itemDetail.category_id}}</td>
        </tr>
        <tr>
          <td>SubCategory</td>
          <td>{{itemDetail.subcategory_id}}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{{itemDetail.price}}</td>
        </tr>
        <tr>
          <td>StockNumber</td>
          <td>{{itemDetail.stock_num}}</td>
        </tr>
        <tr>
          <td>Item Description</td>
          <td>
            {{itemDetail.description}}
          </td>
        </tr>
        <tr>
          <td>StockNumber</td>
          <td>
            <input type="number" min="1" style="width:100px"/>
          </td>
        </tr>
      </table>
      <div class="col-md-3">
        <input type="button" name="submit" routerLink="/seller-selling-list" value="Save & Sell Item">
      </div>
    </div>

  </div>

</div>


